.dashboard-container {
    padding: 30px;
    text-align: center;
}

.dashboard-title {
    font-size: 26px;
    font-weight: bold;
}

.dashboard-card {
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.dashboard-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-icon {
    color: #132238;
    margin-bottom: 10px;
}
