@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app-main-wrapper {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .gradient-text {
    font-size: 1.2rem;
  }

  .cta-bg-section {
    padding: 50px 20px;
  }
}
